{% extends 'base2.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main>

        <!-- Section -->
        <section class=" mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container ">
                <p class="text-center">
                    <a href="../dashboard/dashboard.html" class="d-flex align-items-center justify-content-center">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Back to homepage
                    </a>
                </p>
                <div class="row justify-content-center form-bg-image"
                     data-background-lg="../../assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Creé un compte </h1>
                            </div>

                            {% for flash_error in app.flashes('verify_email_error') %}
                                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            {{ form_start(registrationForm,{'attr':{'class':'mt-4'  }}) }}
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.email,'Emails')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.email,{'attr':{'placeholder':'exemple@gmail.com'  }})}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.plainPassword,'Mot de passe')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.plainPassword)}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.username,'prenom')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.username)}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.username,'Photo de profile')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.imageFile)}}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.nom,'Nom') }}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor"
                                                 viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
                                                        d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path
                                                        d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.nom) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.telephone,'Telephone')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.telephone)}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <div class="input-group">
                                    {{ form_label(registrationForm.adresse,'Adresse')}}
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                                        </span>
                                        {{ form_widget(registrationForm.adresse)}}
                                    </div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="form-check">
                                    {{ form_widget(registrationForm.agreeTerms)}}
                                    {{ form_label(registrationForm.agreeTerms,'Accepter les condition',{'attr':{'classe':'eform-check-label fw-normal mb-0'  }})}}
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-gray-800">Creé le compte</button>
                            </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>








{% endblock %}
